* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #222;
}

.hero {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.herotemoin {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 3rem;
}

.hero h2 {
    margin-top: 10px;
    font-weight: 300;
}

.herotemoin p {
    margin-top: 10px;
    font-weight: 500;
}

.buttons {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: white;
    color: #2575fc;
    text-decoration: none;
    margin: 10px;
    border-radius: 30px;
    font-weight: bold;
}

.btn.secondary {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.section.dark {
    background: #111;
    color: white;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card1{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.card2 {
    background: #f4f4f4;
    padding: 25px;
    border-radius: 15px;
    margin: 25px;
}

.card3 {
    background: #f4f4f4;
    padding: 25px;
    width: 350px;
    border-radius: 15px;
    margin: 0 auto;
}

.card {
    background: #f4f4f4;
    padding: 25px;
    width: 280px;
    border-radius: 15px;
}

.section.dark .card {
    background: #222;
}

blockquote {
    font-size: 1.2rem;
    margin-top: 20px;
    font-style: italic;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.small {
    font-size: 0.8rem;
    opacity: 0.7;
}
